.todo{
    width: 400px;
    min-height: 232px;
    border-radius: 20px;
    background: #f3f7f1;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.todoheader{
    margin-top: 54px;
    color: rgb(45, 155, 15);
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
}
.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.todo-input{
    border-radius: 50px;
    background: #b0b6ac;
    color: rgb(52, 88, 6);
    border: none;
    outline: none;
    width: 670px;
    height: 56px;
    padding-left: 25px;
    font-size: 20px;
}
.btn{
    border-radius: 50px;
    background-color:#02611c;
    width:187px;
    height: 56px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}